server {
  listen         {{ item.value._port|default(80) }};
  server_name    {{ item.value._app_domain }};

  access_log /var/log/nginx/{{ item.value._app_domain }}_access.log;
  error_log  /var/log/nginx/{{ item.value._app_domain }}_error.log {{ item.value._app_error_log_level|default("warn") }};

  {% if item.value._app_proxy_root_path is defined %}
  root {{ item.value._app_proxy_root_path }};
  {% endif %}

 ## Start insert here


 ## End insert here

  location {{ item.value._context }} {

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';

    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

   {% if item.value._forcessl_lb is defined %}
      if ($http_x_forwarded_proto != "https") {
           rewrite ^(.*)$ https://$server_name$1 permanent;
      }
    {% endif %}

    proxy_pass {{ item.value._proxied_domain_or_ip }};
  }
}