server {

    {% if webserver_nginx_ssl_fully_enable_dual_listen_port %}
          listen         {{ webserver_nginx_ssl_fully_normal_port }};
    {%endif%}

    listen         {{ webserver_nginx_ssl_fully_ssl_port|default(443) }} ssl;
    server_name    {{ webserver_nginx_ssl_fully_app_domain }};

    ssl_certificate     /srv/ssl/{{ webserver_nginx_ssl_fully_app_domain }}/{{ webserver_nginx_ssl_fully_cert_bundle }};
    ssl_certificate_key /srv/ssl/{{ webserver_nginx_ssl_fully_app_domain }}/{{ webserver_nginx_ssl_fully_cert_key }};
    ssl_protocols       {{ webserver_nginx_ssl_protocols|default("TLSv1 TLSv1.1 TLSv1.2") }};
    ssl_ciphers         {{ webserver_nginx_ssl_ciphersuites|default("ECDH+AESGCM:ECDH+AES256:ECDH+AES128:ECDH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!eNULL:!MD5:!DSS:!EXP:!ADH:!LOW:!MEDIUM")}};

    access_log /var/log/nginx/ssl_{{ webserver_nginx_ssl_fully_app_domain }}_access.log;
    error_log  /var/log/nginx/ssl_{{ webserver_nginx_ssl_fully_app_domain }}_error.log {{ webserver_nginx_ssl_fully_error_log_level|default("warn") }};


    location {{ webserver_nginx_ssl_fully_context }} {
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection 'upgrade';

      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header Host $host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

      proxy_pass {{ webserver_nginx_ssl_fully_proxied_domain_or_ip }};
    }
}