apps:
  - script : {{ item.script }}
    name   : {{ item.name }}
    watch  : false
    env    :
      NODE_ENV: development
    env_production:
      NODE_ENV: production
      PORT: {{ item.port }}
      CONN_STRING: {{ item.connection_string }}
      